<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
   crossorigin="anonymous">
  <!--Custom CSS-->
  <link rel="stylesheet" href="/css/style.css"/>
  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <!--Title-->
  <title>Imagerie |
    <%= title %>
  </title>
  <!--Favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
</head>

<body>
  <!-- Bootstrap Navbar -->
  <div class="container-fluid banner banner-home fixed-top">
    <div class="row">
      <div class="col-md-12">
        <!--Responsive Navbar-->
        <nav class="navbar navbar-expand-md navbar-md">
         <div class="navbar-brand"><a href="/">Imagerie</a></div>
          <!--Hamburger Menu Button-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--Hamburger Menu Contents-->
          <div class="collapse navbar-collapse" id="menuItems">
            <ul class="nav ml-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/auth/login" class="nav-link">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <!--Display Error-->
  <% if (typeof error !== 'undefined') { %>
    <div class="error-message">
     <h3><%= error %></h3> 
    </div>
  <%}%>

<main class="auth-form">
  <!-- form for registration -->
  <div class="dark-theme login-box" id="login-box">
    <h1> Register</h1>
    <!--Inputs-->
    <form action="/auth/register" method="POST">
      <!--Username-->
      <div class="textbox">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="username"/>
      </div>
      <!--Email-->
      <div class="textbox">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="email"/>
      </div>
      <!--Password-->
      <div class="textbox">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  class="password"/>
      </div>
      <!--Confirm Password-->
      <div class="textbox">
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2" />
      </div>
      <!--Submit Button-->
      <input type="submit" value="Register" />
    </form>
  </div>
</main>
<%- include('../partials/_footer') %>