<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/albums">Albums</a>
      </li>
      <li>
        <a href="/albums/new">Add Album</a>
      </li>

      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>