
<div class="container-fluid banner banner-home fixed-top">
  <div class="row ban">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-md navbar-md">
        <div class="navbar-brand"><a href="/">PHOTO APP</a></div>
        <!--Hamburger Menu Button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Hamburger Menu Contents-->
        <div class="collapse navbar-collapse" id="menuItems">
          <ul class="nav ml-auto">
            <li class="nav-item">
              <a href="/albums" class="nav-link">Albums</a>
            </li>
            <li class="nav-item">
              <a href="/auth/register" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/auth/login" class="nav-link">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
    <!-- <div class="overlay"></div> -->
</div>
 
