
  <div class="container-fluid banner banner-home">
    <div class="row ban">
      <div class="col-md-12">
        <nav class="navbar navbar-md">
         <div class="navbar-brand"><a href="/">PHOTO APP</a></div>
           <ul class="nav">
             
            <li class="nav-item">
              <a href="/albums" class="nav-link">Albums</a>
            </li>
            <li class="nav-item">
              <a href="/auth/register" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/auth/login" class="nav-link">Login</a>
            </li>
           
  
          </ul>
        
      </nav>
    </div>
      </div>
      <div class="overlay"></div>

    </div>
 
