<%- include('./partials/_head_home') %>
<main>

<div class="col-md-6 offset-md-3 info dark-theme">
  <h1 class="text-center">Welcome</h1>
  <h5 class="text-center"> 
    Make your own menagerie of images. Imagerie lets you create a collection of images from different sources. Upload your own images from any device. If your photo is on the cloud or from a website, use a URL instead. Sign up to get started.   
  </h5>
  <h4><a href="/auth/register" >Sign Up</a></h4>
  <h4><a href="/auth/login" >Log In</a></h4>
  
</div>
</main>
<%- include('./partials/_footer') %>