<%- include('./partials/_head') %>
<main>
  <h1>Welcome to Photo App</h1>
  <div>
    <a href="/auth/register">Sign Up</a>
  </div>
  <div>
    <a href="/auth/login">Log In</a>
  </div>
</main>
<%- include('./partials/_footer') %>