<%- include('./partials/_head_home') %>
<main>

<div class="col-md-6 offset-md-3 info dark-theme">
  <h1 class="text-center">Welcome</h1>
  <h5 class="text-center"> 
    Make your own menagerie of images. Create, view, and edit on the go.   
  </h5>
    <h4><a href="/auth/register" >Sign Up</a></h4>
    <h4><a href="/auth/login" >Log In</a></h4>
  
</div>
</main>
<%- include('./partials/_footer') %>