<%- include('./partials/_head_home') %>
<main>

<div class="col-md-6 offset-md-3 info dark-theme">
  <h1 class="text-center">Welcome</h1>
  <p class="text-center"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Libero saepe, temporibus nihil vel perspiciatis quis at,
     dolorum nostrum consequuntur harum veritatis laudantium repellat ullam labore iste ipsam, 
    necessitatibus dignissimos similique! </p>
    <a href="/auth/register" >Sign Up</a>
    <a href="/auth/login" >Log In</a>
  
</div>
</main>
<%- include('./partials/_footer') %>