body {
  margin: 0;
  padding: 0;
  /* background:#fff; */
  font-family: 'Raleway', sans-serif;
  /* margin-left: 20px; */
  color: black;
}

.home {
  height: 100vh;
  background: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

 /* .header__nav {
  display: flex;
}

.header__nav ul {
  display: flex;
  padding: 0;
  list-style: none; 
}

.header__nav li {
  margin: 5px 10px;
}
*/

img {
  max-width: 40vw;
  max-height: 40vh;
  width: auto;
  height: auto;
}

.show-body__img img {
  max-width: 80vw;
  max-height: 70vh;
  width: auto;
  height: auto; 
}

.banner, .banner-home{
  /* background-color: lightgoldenrodyellow; */
  width: 100%;
  /* color:#fff */
}

.banner-home {
  background: transparent;
}

/* .banner .navbar {
  margin-top: 3%;
} */

.banner .navbar-brand {
  font-size: 1.6em;
  font-weight: 700;
  margin-left: 8%;
}

.banner-home .navbar-brand {
  color:#FFF;
}

.banner .nav {
  margin-right: 10%;
}

.banner .nav li a {
  color:#aaa;
  font-size: 1.2em;
}