
/* Color Template 
green rgb(196, 255, 234) or #C4FFEA
blue rgb(167, 232, 228) or #A7E8E4
green rgb(167, 232, 191) or #A7E8BF
error red: rgb(255, 138, 133) or #FF8A85
beige: rgb(255, 218, 184) or #FFDAB8
gray: rgb(242, 240, 242)
*/

/*===== GENERAL STYLING ======*/
body {
  margin: 0;
  padding: 70px 0 0 0;
  /* background: rgb(196, 255, 234, .3); */
  font-family: 'Raleway', sans-serif;
  color: black;
  background-image: url('/img/des_wilderness.jpg');
  background-attachment: fixed;
  background-size: cover;
}

img {
  max-width: 90vw;
  max-height: 75vh;
}

footer {
  color: #F1F1F1DE; /* opacity of 87 */
  text-align: center;
}

/*====== DARK THEME ======*/
.dark-theme {
  background-color: #272727F0; /* opacity of F0 */ 
  color: #F1F1F1DE; /* opacity of 87 */
  padding: 15px;
  border-radius: 4px; 
}

.dark-theme a {
  color: #84C9FBDE; /* opacity of 87% */
}

.dark-theme .card {
  background-color: #333333;
  text-align: center;
}

.dark-theme .form-control {
  background-color: #F1F1F1DE;
}

.dark-theme .form-control:focus {
  background-color: #F1F1F1DE;
}

/*====== NAV BAR =======*/
.banner, .banner-home{
  width: 100%;
}

.banner {
  background-image: url('/img/des_wilderness.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.navbar-brand {
  color:#aaa;
  font-size: 1.6em;
  margin-left: 8%;
}

.navbar-brand a {
  color: #F1F1F1DE; /* opacity of 87% */
  font-weight: 700;
}

.banner .nav {
  margin-right: 10%;
}

.banner .nav li a {
  color: #F1F1F1DE; /* opacity of 87% */
  font-weight: 700;
  font-size: 1.2em;
}

.banner a:hover {
  text-decoration: underline;
}


/* Homepage Navbar */
.banner-home .navbar-brand {
  z-index: 2;
}

/* Hamburger Menu Button */
.navbar button {
  margin: auto;
  margin-right: 0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 241, 241, 0.87)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*===== VIEW STYLING =====*/
.view-title {
  text-align: center;
}

/* Show Album */
.show-body__img {
  display: flex;
  justify-content: center;
}

/* Edit Album */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Show Photo */
.photo-navigation {
  display: flex;
  justify-content: space-evenly;
}

.album-properties-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* New Photo */
@keyframes loading {
  0% {color: #F1F1F1DE;}
  50% {color: #27272755;}
  100% {color: #F1F1F1DE;}
}
.progress-indicator {
  text-align: center;
  animation-name: loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/*====== BUTTONS ======*/
button {
  background-color: #737373DE;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 3px 1px;
  margin: 5px 8px;
  width: 115px;
  transition: .2s linear;
}

.small-button {
  width: 70px;
}

.delete {
  background-color: #FF8A85AD;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  border-radius: 10px;
}

/*====== ALBUM THUMBNAILS ======*/
.album-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-card-group .card {
  margin: 10px;
}

.album-card-group ul {
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
}

.album-card-group img {
  overflow: hidden;
}

/*====== HOME PAGE =======*/
/* start of central data on home page */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:15%;
   z-index: 2;
   background-color: #27272799;
}

.info h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 2px;
}

.info a {
  color: #F1F1F1DE;
  font-weight: bold;
}
/* end of central data on home page */
/* end of home page and navbar */

/*====== AUTHENTICATION FORMS ======*/
/* start of login page */
.error-message {
  font-weight: 900;
  color: #FF000080;
  background: #F1F1F1DE;
  z-index: 100;
  text-align: center;
}

.auth-form {
  height: 100vh;
}

.login-box {
  background-color: #27272799;
  position: absolute;
  top: 30%;
  left: 38%;
  color: #f1f1f1DE;
  z-index: 2;
}

.login-box h1{
  float:left;
  font-size: 40px;
  border-bottom: 6px solid #f1f1f1;
  margin-bottom: 25px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 8px 0;
  border-bottom: 1px solid #f1f1f1DE;
}

.textbox input {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

/* end og login page */
/* sign up */
#login-box {
  position: absolute;
  top: 30%;
  left: 40%;
}

.email {
  float: right;
}

.username {
  float: right;
}

.password {
  float: right;
}

/*====== MEDIA QUERIES =======*/
/* changing position for login */
@media screen and (max-width: 600px) {
  .login-box {
    position: absolute;
    left:0%;

  }

  .banner .nav {
    margin: 0;
  }

  .banner ul {
    padding: 0;
    margin: 0;
  }  

}

/* changing position for sign up  */ 
 @media screen and (max-width: 400px) {
  #login-box {
    position: absolute;
    left:0;
  }

  .navbar-brand {
    margin: 0;
  }

  .navbar-toggler {
    margin: 0;
  }

  .banner .nav {
    margin: 0;
  }

  .banner ul {
    padding: 0;
    margin: 0;
  }  
}

 /* end */
