<%- include('../partials/_head') %>
<main>
  <!--TODO: replace User w/ username-->
  <h2>Welcome, User</h2>
  <h3>Profile Page</h3>
<a href="/albums/new">Add a New Album</a>

<div>
  <% albums.forEach((album) => { %>
    <div>
      <%= album.albumName %>
      <a href="/albums/<%= album._id %>">View this album</a>
    </div>
  <% }) %>
</div>

</main>

<%- include('../partials/_footer') %>